div {
    background-image: none;
    /*linear-gradient(-90deg, rgba(224, 255, 255, 0.496), rgba(173, 216, 230, 0));*/
    color: white;
    background-color: rgb(6, 11, 35);
  }


div.container {
  font-weight: bold;
}

#load {
  background-color: rgb(6, 11, 35);
}

html {
  background-color: rgb(6, 11, 35);
  color: white;
  background-size: contain;
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6,p {
  color: white;
}

a {
  text-decoration: none;
  background-image: none;
  text-shadow: none;
  text-decoration-color: blanchedalmond;
}

a:hover {
  text-decoration: none;
  background-image: none;
  text-shadow: none;
  text-decoration-color: blanchedalmond;
}

section {
  box-shadow: 2px 2px 15px;
  border-radius: 25px;
}