div {
    background-image: linear-gradient(-90deg, lightcyan, lightblue);
    color: black;
  }


div#navbarResponsive {
  background-image: lightgoldenrodyellow;
}

html {
  background-color: lightblue;
  background-size: contain;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  background-image: none;
  text-shadow: none;
  text-decoration-color: blanchedalmond;
}

a:hover {
  text-decoration: none;
  background-image: none;
  text-shadow: none;
  text-decoration-color: blanchedalmond;
}