div {
    background-image: none;
    /*linear-gradient(-90deg, rgba(224, 255, 255, 0.496), rgba(173, 216, 230, 0));*/
    color: black;
  }


div.container {
  font-weight: bold;
}

#load {
  background-color: white;
}

html {
  background-color: none;
  background-size: contain;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  background-image: none;
  text-shadow: none;
  text-decoration-color: blanchedalmond;
}

a:hover {
  text-decoration: none;
  background-image: none;
  text-shadow: none;
  text-decoration-color: blanchedalmond;
}

section {
  box-shadow: 2px 2px 15px;
  border-radius: 25px;
}