.bar {
    margin: 3rem auto;
    background-color: none;
    padding: 0 1rem
}

.navbar .collapse {
    background-color: none;
}

span {
    color: black;
    padding: 5px 15px;
    margin: 5px;
    background-color: cornsilk;
    border-radius: 25px;
    vertical-align: middle;
    transition: background-color .5s, padding .5s, margin .5s;
}
span:hover {
    color: black;
    padding: 5px 30px;
    margin: 15px;
    background-color: burlywood;
    border-radius: 20px;
}

.nav-item {
    padding: 5px 10px;
    margin: 5px;
    background-color: cornsilk;
    border-radius: 25px;
    text-align: center;
    transition: background-color .5s, padding .5s, margin .5s;
}

.nav-item:hover {
    padding: 5px 25px;
    margin: 5px 15px;
    background-color: burlywood;
}

.img {
    height: 200px;
    width: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img > a {
    display: inline-block;
    padding-top: 20%;
    height: 200px;
    width: inherit;
    background-color: rgba(9, 64, 120, 0.537);
    opacity: 0.0;
    color: whitesmoke;
    transition: opacity .5s ease;
}

/*
.img > a#bottom {
    height: 200px;
}
*/

.img:hover > a {
    opacity: 1;
}

.img > Link {
    display: inline-block;
    padding-top: 20%;
    height: 193px;
    width: inherit;
    background-color: rgba(9, 64, 120, 0.537);
    opacity: 0.0;
    color: whitesmoke;
    transition: opacity .5s ease;
}

.img > Link#bottom {
    height: 200px;
}

.img:hover > Link {
    opacity: 1;
}

.ibox:hover {
    opacity: 1;
}

#ab {
    background-image: url("https://drive.google.com/uc?export=view&id=150zpHlSr4BorMZPilOrgIT-GjTJRn3T0");
}
#pj {
    background-image: url("https://drive.google.com/uc?export=view&id=1RWZYc9dTAWaWPcjOTmMn3XY-Q_Zt62tN");
}
#pt {
    background-image: url("https://drive.google.com/uc?export=view&id=1pr0qmE_LhaewaTk1kU1HbSkBK3gFciO7");
}
#ms {
    background-image: url("https://drive.google.com/uc?export=view&id=1nLye5MyK-3aLL2HnE-XOYlHPSidpMxl0");
}
#ct {
    background-image: url("https://drive.google.com/uc?export=view&id=17p381IXD7MyVYAKrhNKXRXJCncIEFpMG");
}
#end {
    background-image: url("https://drive.google.com/uc?export=view&id=1w9vjoH4iGsV1GkPBHydivrfe3nhsuKvX");
}
#me {
    background-image: url("https://drive.google.com/uc?export=view&id=1V5EjVxbh2Y7iVpMXAWDA-SaBKw3lKH7b");
    background-attachment: fixed;
    background-size: contain;
}

.ibox {
    flex-wrap: wrap;
    display: inline-block;
    transition: opacity .5s ease;
}

.icontainer {
    margin: 0 0;
    text-align: center;
    transition: box-shadow .5s ease;
}

.icontainer:hover {
    box-shadow: 2px 2px 15px;
}

#start {
    padding: 20px;
}

Link {
    text-decoration: none;
}

section {
    scroll-behavior: smooth;
}

.protfolio-box .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(244, 98, 58, 0.9);
  transition: opacity 0.25s ease;
  text-align: center;
}
.protfolio-box .box:hover {
    opacity: 0.3;
}

.btn {
    color: cornsilk;
}

#workframe {
    padding: 10px 15px;
    margin: 10px;
    box-shadow: 2px 2px 5px;
    border-radius: 20px;
    transition: box-shadow .5s ease, margin .5s ease;
}

#workframe:hover {
    box-shadow: 2px 2px 15px;
    margin: 15px 10px;
}

#title {
    border-radius: 20px;
    padding: 10px
}

#title > p {
    margin-top: -10px;
    font-style: italic;
    font-size: 0.9em;
}

#title > h5 {
    display: inline;
}
#title > span {
    margin-left: 20px;
    padding: 5px 6px;
    display: inline;
}
#title > span > a > img {
    padding-top: 20px;
}

h4, h6 {
    padding-top: 20px;
}

p#skill, p#techstack {
    font-size: 0.8em;
    font-weight: bold;
    background-color: burlywood;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
}

/*Size*/
::-webkit-scrollbar {
    width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
border-radius: 2px; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

div#showcase {
    box-shadow: 2px 2px 5px;
    border-radius: 20px;
    vertical-align: top;
    width: 30%;
    height: 60vh;
    margin: 2% 1%;
    padding: 2%;
    height: auto;
    display: inline-flex;
    overflow: hidden;
    transition: box-shadow .5s ease, width .5s ease;
}

div#showcase:hover {
    overflow-y: scroll;
    width: 31%;
    box-shadow: 2px 2px 15px;
    background-image: linear-gradient(-90deg, lightblue, lightcyan);
}

div#showcase > p {
    font-size: 0.75em;
}

div#showcase > a {
    display: block;
    width: 100%;
    height: 70vh;
    text-decoration: none;
    color: black;
}

#contact > a {
    margin: 10px;
    background-color: snow;
    border-radius: 15px;
    padding: 10px;
    color: black;
    display: inline-block;
    font-size: 1.1em;
}
