.bar {
    margin: 3rem auto;
    background-color: none;
    padding: 0 1rem
}

.navbar .collapse {
    background-color: none;
}

span {
    color: black;
    padding: 5px 15px;
    margin: 5px;
    background-color: burlywood;
    border-radius: 25px;
    vertical-align: middle;
    transition: background-color .5s, padding .5s, margin .5s;
}
span:hover {
    color: black;
    padding: 5px 30px;
    margin: 15px;
    background-color: cornsilk;
    border-radius: 20px;
}

.nav-item {
    padding: 5px 10px;
    margin: 5px;
    background-color: burlywood;
    border-radius: 25px;
    text-align: center;
    transition: background-color .5s, padding .5s, margin .5s;
}

.nav-item:hover {
    padding: 5px 25px;
    margin: 5px 15px;
    background-color: blanchedalmond;
}

.img {
    height: 200px;
    width: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img > a {
    display: inline-block;
    padding-top: 20%;
    height: 193px;
    width: inherit;
    background-color: rgba(9, 64, 120, 0.537);
    opacity: 0.0;
    color: whitesmoke;
    transition: opacity .5s ease;
}

.img > a#bottom {
    height: 200px;
}

.img:hover > a {
    opacity: 1;
}

.img > Link {
    display: inline-block;
    padding-top: 20%;
    height: 193px;
    width: inherit;
    background-color: rgba(9, 64, 120, 0.537);
    opacity: 0.0;
    color: whitesmoke;
    transition: opacity .5s ease;
}

.img > Link#bottom {
    height: 200px;
}

.img:hover > Link {
    opacity: 1;
}

.ibox:hover {
    opacity: 1;
}

#ab {
    background-image: url("https://drive.google.com/uc?export=view&id=150zpHlSr4BorMZPilOrgIT-GjTJRn3T0");
}
#pj {
    background-image: url("https://drive.google.com/uc?export=view&id=1RWZYc9dTAWaWPcjOTmMn3XY-Q_Zt62tN");
}
#pt {
    background-image: url("https://drive.google.com/uc?export=view&id=1pr0qmE_LhaewaTk1kU1HbSkBK3gFciO7");
}
#ms {
    background-image: url("https://drive.google.com/uc?export=view&id=1nLye5MyK-3aLL2HnE-XOYlHPSidpMxl0");
}
#ct {
    background-image: url("https://drive.google.com/uc?export=view&id=17p381IXD7MyVYAKrhNKXRXJCncIEFpMG");
}
#end {
    background-image: url("https://drive.google.com/uc?export=view&id=1w9vjoH4iGsV1GkPBHydivrfe3nhsuKvX");
}

.ibox {
    flex-wrap: wrap;
    display: inline-block;
    transition: opacity .5s ease;
}

.icontainer {
    margin: 0 0;
    text-align: center;
}

#start {
    padding: 20px;
}

Link {
    text-decoration: none;
}

section {
    scroll-behavior: smooth;
}

.protfolio-box .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(244, 98, 58, 0.9);
  transition: opacity 0.25s ease;
  text-align: center;
}
.protfolio-box .box:hover {
    opacity: 0.3;
}

.btn {
    color: cornsilk;
}
