nav {
    color: black;
}

span {
    color: black;
    padding: 5px 10px;
    margin: 5px;
    background-color: burlywood;
    border-radius: 20px;
    transition: background-color 0.5s;
}
span:hover {
    color: black;
    padding: 5px 10px;
    margin: 5px;
    background-color: cornsilk;
    border-radius: 20px;
}

.nav-item {
    padding: 5px 10px;
    margin: 5px;
    background-color: burlywood;
    border-radius: 20px;
}

Link {
    text-decoration: none;
}

section {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}